<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container py-4">
    <form class="rounded p-4 bg-light" th:object="${newMyUser}" th:action="@{/users/update/{id}(id=${newMyUser.userId})}" method="post">
        <input type="hidden" th:field="*{userId}" />

        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" th:field="*{userName}" class="form-control" required><br />

        <label for="selectedExercises">Select Exercises:</label>
		<select id="selectedExercises" name="selectedExercises" multiple="multiple" class="form-control">
		    <option th:each="exercise : ${myExercises}" th:value="${exercise.id}" th:text="${exercise.exerciseName}"></option>
		</select>

        <label for="selectedMeals">Select Meals:</label>
		<select id="selectedMeals" name="selectedMeals" multiple="multiple" class="form-control">
		    <option th:each="meal : ${myMeals}" th:value="${meal.id}" th:text="${meal.mealName}"></option>
		</select>		

        <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
    </form>
    <a th:href="@{/users/all}" class="btn btn-secondary">View All Users</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>