<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-success">

<div class="container py-4">
    <form class="rounded p-4 bg-light" th:object="${newMyMeal}" th:action="@{/meals/submit}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="mealName">Meal:</label>
        <input type="text" id="mealName" name="mealName" th:field="*{mealName}" class="form-control" required><br />

        <label for="calories">Calories:</label>
        <input type="number" id="calories" name="calories" th:field="*{calories}" class="form-control" required><br />

        <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
    </form>
    <a th:href="@{/meals/all}" class="btn btn-secondary">View All meals</a>
    <a th:href="@{/exercises/input}" class="btn btn-secondary">add exercises</a>
    <a th:href="@{/users/input}" class="btn btn-secondary">add users</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>