<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>

<h2>User Details</h2>

<div th:if="${user != null}">
    <label>User Name:</label>
    <p th:text="${myUsers.userName}"></p>

    <label>Selected Exercises:</label>
    <ul>
        <li th:each="myExercises : ${myUsers.exercises}" th:text="${myExercises.exerciseName}"></li>
    </ul>

    <label>Selected Meals:</label>
    <ul>
        <li th:each="myMeals : ${myUsers.meals}" th:text="${myMeals.mealName}"></li>
    </ul>
</div>

</body>
</html>